odoo-addon-account_payment_mode @ git+https://github.com/OCA/bank-payment.git@refs/pull/1438/head#subdirectory=account_payment_mode
odoo-addon-account_payment_partner @ git+https://github.com/OCA/bank-payment.git@refs/pull/1439/head#subdirectory=account_payment_partner
